<%- include('headers/header'); -%>
    <button class="eatable">Eatable </button>
    <button class="men-wear">Men Wear</button>
    <button class="women-wear">Women wear</button>
    <button class="electronic">Electronics</button>
    <button class="essential">Essential</button>
    <script type="text/javascript" src="/index.js"></script>
<%- include('headers/footer'); -%>
